---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

import '../styles/global.css';
import RecipeCategories from './RecipeCategories.jsx';
---

<div id="container">
  <h1 class="text-4xl font-semibold tracking-tight text-pretty">Welcome to the Factorio Recipe Finder</h1>
  <RecipeCategories client:visible />
</div>